In [2]:
import numpy as np

In [8]:
a=np.random.randint(30,99,(7,8))
a

array([[94, 83, 67, 46, 34, 96, 90, 97],
       [85, 95, 47, 73, 64, 34, 34, 42],
       [59, 65, 46, 73, 44, 37, 70, 68],
       [79, 87, 57, 48, 55, 83, 31, 49],
       [76, 52, 78, 74, 38, 81, 31, 71],
       [91, 73, 93, 33, 42, 41, 78, 66],
       [54, 47, 44, 54, 58, 89, 36, 84]])

In [10]:
a.shape

(7, 8)

In [12]:
a.ndim

2

In [36]:
b=np.random.randint(20,80,(8,9))
b

array([[30, 77, 74, 63, 26, 29, 47, 33, 54],
       [47, 62, 61, 27, 66, 75, 68, 40, 64],
       [77, 33, 38, 20, 47, 46, 42, 56, 21],
       [45, 77, 25, 29, 54, 70, 69, 58, 79],
       [70, 31, 78, 39, 51, 79, 39, 79, 50],
       [21, 27, 79, 68, 20, 22, 34, 63, 31],
       [47, 68, 48, 36, 35, 57, 50, 74, 46],
       [61, 57, 74, 41, 48, 23, 53, 23, 45]])

In [38]:
b.shape

(8, 9)

In [40]:
b.ndim

2

In [42]:
b[7,0]

61

In [44]:
b[2:6:1,1:7:1]

array([[33, 38, 20, 47, 46, 42],
       [77, 25, 29, 54, 70, 69],
       [31, 78, 39, 51, 79, 39],
       [27, 79, 68, 20, 22, 34]])

In [46]:
import pandas as pd

In [58]:
k=[[4,7],[2,9],[7,3],[90,50]]
k

[[4, 7], [2, 9], [7, 3], [90, 50]]

In [60]:
t=np.array(k)
t

array([[ 4,  7],
       [ 2,  9],
       [ 7,  3],
       [90, 50]])

pd.Series(k)

In [62]:
pd.Series(k)

0      [4, 7]
1      [2, 9]
2      [7, 3]
3    [90, 50]
dtype: object

In [64]:
pd.DataFrame(t)

    0   1
0   4   7
1   2   9
2   7   3
3  90  50

In [86]:
df=pd.DataFrame(t,columns=['name','sub'],index=[289,290,291,292])
df

     name  sub
289     4    7
290     2    9
291     7    3
292    90   50

In [88]:
df.columns

Index(['name', 'sub'], dtype='object')

In [90]:
df['sub']

289     7
290     9
291     3
292    50
Name: sub, dtype: int32

In [92]:
df['sub'].min()

3

In [ ]:
df[